@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please select your role:</p>
    <div class="row mt-4">
        <div class="col-md-6 text-center">
            <a class="btn btn-primary btn-lg w-50" href="@Url.Action("Index", "Admin")">Admin</a>
        </div>
        <div class="col-md-6 text-center">
            <a class="btn btn-secondary btn-lg w-50" href="@Url.Action("Index", "Client")">Client</a>
        </div>
    </div>
</div>
